<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">

    <template v-if="mostrar==1">
        <h1>Del template uno</h1>
    </template>
        

    <template v-else-if="mostrar==2">
        <h1>Del template dos</h1>
    </template>

    <template v-else-if="mostrar==3">
        <h1>Del template tres</h1>
    </template>

    <template v-else>
        <h1>No es ni 1,2,3</h1>
    </template>
       

    </div>

    

    <script src="vue.js"></script>
</body>
</html>